<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>
<body>
    <h1>Carrito</h1>
    <div id="cart">
        {{#each cart.products}}
            <div class="product">
                <h2>{{this.title}}</h2>
                <p>{{this.description}}</p>
                <p>Precio: ${{this.price}}</p>
                <p>Cantidad: {{this.quantity}}</p>
            </div>
        {{/each}}
    </div>
</body>
</html>
